@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-radial {
  background: radial-gradient(ellipse at top, #3f64ea, #0d0d0d, transparent) top
      left / 30% 30%,
    radial-gradient(ellipse at top, #e93f40, #0d0d0d, transparent) top center /
      50% 50%,
    radial-gradient(ellipse at top, #ffb800, #0d0d0d, transparent) top right /
      30% 30%,
    linear-gradient(90deg, #0d0d0d, #0d0d0d) bottom right;
  background-repeat: no-repeat;
  /* background-size: 100% 100%, 100% 100%, 100% 100%, 100% 100%; */
  background-position: top left, top center, top right, bottom right;
}

/* animation */
@keyframes zoom-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-zoom-in {
  animation: zoom-in 4s ease-out forwards;
}
